html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  --grid-square-height: 40px;
  --grid-square-width: 40px;
  --name-card-height: 82px; 
  --name-card-width: 378px; 
  --link-square-height: 82px;
  --link-square-width: 82px;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.button-grid {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.fixed-square {
  position: absolute !important;
  border-radius: 5px !important;
  padding: 0 !important;
}
  
.grid-square {
  height: var(--grid-square-height) !important;
  width: var(--grid-square-width) !important;
  min-width: 0 !important;
  min-height: 0 !important;
}
  
.name-card {
  height: var(--name-card-height) !important;
  width: var(--name-card-width) !important;
  min-height: var(--name-card-height) !important;
  min-width: var(--name-card-width) !important;
  font-size: 20px !important;
  font-weight: 100 !important;
}

.link-square {
  height: var(--link-square-height) !important;
  width: var(--link-square-width) !important;
  min-height: var(--link-square-height) !important;
  min-width: var(--link-square-width) !important;
  color: #FFFFFF !important;
  z-index: 1;
}

